<style type="text/css">
  #procession > div {
    display: none;
  }
  #procession.procession_init > div.procession_init {
    display: block;
  }
  #procession.procession_unsupported > div.procession_unsupported {
    display: block;
  }
  #procession.procession_wait > div.procession_wait {
    display: block;
  }
  #procession.procession_contact > div.procession_contact {
    display: block;
  }
  #procession.procession_ok > div.procession_ok {
    display: block;
  }
  #procession.procession_error > div.procession_error {
    display: block;
  }
  #procession.procession_timeout > div.procession_timeout {
    display: block;
  }

</style>

<p class='center'><strong>U2F 2FA <%- if @authn.name -%> for <%= @authn.name %><%- end -%></strong></p>
<div id="procession" class="procession_init" data-authn-id="<%= @authn.id %>" data-app-id="<%= @app_id %>" data-requests='<%= @requests.to_json %>' data-challenge='<%= @challenge.to_json %>' data-req-id='<%= @req_id %>'>
  <div class="procession_init">
    <p>Initializing...</p>
  </div>
  <div class="procession_unsupported">
    <p>You have to use browser supporting FIDO U2F</p>
  </div>
  <div class="procession_wait">
    <p>Insert and tap your security key.</p>
  </div>
  <div class="procession_contact">
    <p>Contacting...</p>
  </div>
  <div class="procession_ok">
    <p>OK: You may now close this page.</p>
  </div>
  <div class="procession_error">
    <p>Error: Reload and try again?</p>
  </div>
  <div class="procession_timeout">
    <p>Timed out...</p>
    <p><button id="retry_button">Try again</button></p>
  </div>
</div>
<%- if @authn.comment -%>
<p><small><%= @authn.comment %></small></p>
<%- end -%>


<script src="/sign.js"></script>
